.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.grid .card {
    text-align: center;
    background-color: #1C2541;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5px;
    padding: 10px;
    width: 250px;
    height: 50px;
    color: #FFFFFF;
}
.name{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 6px;
}
.craft{
    color: grey;
}
.count{
    color: white;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
}
.filter-row{
    margin-bottom: 15px;
    text-align: center;
}
body{
    background-color: #0B132B;
}






.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}